 *{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}


.NHcontainer{
   margin-top: 53px;
   display: flex;
   justify-content: center;
}
.NHcentr{
    width: 90%;
}
.NHread{
    display: flex;
}
.NHtext{
    width: 60%;
}
.NHpart1{
    width: 425px;
    border-right: 1px solid #202020;
    border-bottom: 1px solid #202020;
    width: 50%;
}
.NHpart1 h1{
  font-weight: 400;
  font-size: 50px;
  color: #202020;
}
.NHpart1 p{
    padding-top: 39px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.27px;
    color: #202020;
}
.NHstart{
    padding-top: 112px;

}
.NHstart button{
    padding: 12px;
    border: none;
    border-radius: 4px;
    background-color: #B8A4FD;
    color: #202020;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.24px;
    cursor: pointer;

}
.NHstart button:hover{
    background: aquamarine;
    transition: 0.7s ease;
}
.NHpart2{
    width: 50%;
}
.NHpart2{
    padding: 100px 160px 100px 85px;
    border-bottom: 1px solid #202020;
}
.NHread1{
    display: flex;
    flex-direction: row-reverse;
    
}
.NHpart11{
    border-right: none;
    border-left: 1px solid #202020 ;
    padding: 100px 0px 0px 80px;
}
.Nhpart22{
    width: 36%;
    padding-right:5px;

.flex1{
   
    display: flex;
    justify-content: center;
    width: 100%;
    background: #ffffff;
}
.yncentr{
    width: 90%;
    margin: auto;
}
.flex3{
    display: flex;
}
.box1{
  display: flex;align-items: center;
    width: 50%;
    height: 70vh;
    border-right: solid 2px gray;
}
.box2{
  display: flex;align-items: center;
    width: 50%;
    height: 70vh;

}
.cont1{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 56%;
    height: 60vh;

}
.cont1 p{
    color: #202020;
    font-weight: 400;
font-size: 16px;
}
.cont1 h1{
    margin-bottom: 50px;
    font-weight: 400;
font-size: 56px;
}
.thousands{
    font-weight: 700;
font-size: 49px;
    border-radius: 10%;
    border: solid 2px black;
    padding: 8px 12px;
}
.cont2{
    margin-left: 100px;
}
.ymcontent2{
    width: 100%;
    padding-top: 100px;
    display: flex;
    justify-content: center;
 padding-bottom: 100px;
    background: #E2DBFB;
}
.ymmmmmm{
    background: #FFFDF8;
    border: 1px solid #202020;
    border-radius: 7.6px;
    width: 50%;
    padding-top: 80px;
    padding-bottom: 80px;


background-color: white;
}
.muhammad{
    width: 80%;
    display: flex;
}
.left{
    width: 30%;

}
.left img{
    margin-bottom: 90px;
    margin-left: 50px;
}
.right{
    width:70% ;
}
.botom{
    display: flex;
}
.provided {
    font-size: 17px;
    margin-bottom: 50px;
}
.Arts{
    margin-top: 20px;
}
.Even{
    margin-top: 10px;
}
.conteiner3{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 30px;
    background: #202020;
}
.koloo{
    width: 50%;
}
.flex5
{
    width: 50%;
    display: flex;
}
.muhammad1{
    margin-left: 200px;
    margin-bottom: 150px;
}
.about{
    text-align: end;
    color: white;
    margin-bottom: 20px;
}
.rightss{
    color: white;
    text-align: end;
}

.sh-container{
    background: #202020;
}
.sh-center{
    width: 90%;
    margin: auto;
}
.sh-left-right{
    display: flex;
    justify-content: space-between;

}
/* .sh-left-right{
    margin-top: 60px;
} */
.sh-left button{
    font-size: 20px;
    font-weight: 700;
    line-height: 35px;
    padding: 0px 10px;  
    letter-spacing: 1px;
    margin-top: 50px;
    color: #202020;
    cursor: pointer;
    background: #B8A4FD;
    border: 1px solid grey;
    border-radius: 5px;

}
.sh-left button:hover{
    background-color: bisque;
    border-radius: 10px ;
    
}
.sh-left p{
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}
.sh-left{
    width: 50%;
    margin-right: 100px;
}
.sh-left h1{
    color:#FFFDF8;
}
.sh-left p{
    color:#FFFDF8;
}
.Shahrom{
    margin-top: 100px;
    margin-bottom: 10px;
}
.sh-right{
    margin-top: 100px;
    margin-bottom: 50px;
}
.shahr{
    margin: 40px  0px;
}
.sh-right{
    display: flex;
    /* justify-content: space-between;   */
    flex-wrap: wrap;
    gap: 20px 20px;

.kh-container{
    border-bottom: 1px solid;   
}
.kh-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.kh-left{
    display: flex;
    align-items: center;
}
.kh-left img{
    padding: 15px 40px;
}
.kh-left a{
    padding: 22px 40px;
    border-left: 1px solid;

}
.kh-left a:hover{
    color: rgb(25, 94, 255);
}

.kh-log{
    width: 158px;
    text-align: center;
    border-left: 1px solid;
    padding: 22px 40px;
}
.kh-start{
    width: 158px;
    text-align: center;
    border-left: 1px solid;
    padding: 22px 40px;
}
.kh-right{
    display: flex;

}
.kh-log:hover{
    background-color:  #B8A4FD;
}
.kh-start:hover{
    background-color:  #B8A4FD;
}

.kh-navbar a{
    text-decoration: none;
font-style: normal;
font-weight: 700;
font-size: 16px;
letter-spacing: 0.27px;

color: #202020;
}
.kh-center{
    width: 90%;
}
.kh-container1{
    display: flex;
    justify-content: center;
}
.kh-all{
    margin-top: 80px;
    display: flex;
    margin-bottom: 80px;
}
.kh-leftt h1{
font-style: normal;
font-weight: 400;
font-size: 110px;
line-height: 110px;
color: #202020;
}
.kh-leftt p{
    padding: 20px 0px 20px 10px;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 25px;
letter-spacing: 0.27px;
color: #202020;
}
.kh-leftt button{
    padding: 10px 20px;
font-style: normal;
font-weight: 700;
font-size: 14px;
color: #202020;
background: #B8A4FD;
border-radius: 4px;
border: none;

}
.kh-leftt button:hover{
    background: #6f47ff;
    color: white;

}
.kh-alll{
    display: flex;
    padding: 100px 0px;
}
.kh-lefttt{
    width: 50%;
}
.kh-righttt{
    width: 50%;
}
.kh-container2{
    background-color: black;
    display: flex;
    justify-content: center;
}
.kh-centerrr{
    width: 90%;
}
.kh-righttt h1{
    font-style: normal;
font-weight: 400;
font-size: 56px;
line-height: 100px;
color: #FFFDF8;
}
.kh-righttt p{
    padding: 20px 0px;
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 25px;

letter-spacing: 0.27px;

color: #FFFDF8;
}
.kh-righttt button{
    margin-top: 80px;
    padding: 10px 20px;
    font-style: normal;
font-weight: 700;
font-size: 14px;
color: #202020;
background: #B8A4FD;
border-radius: 4px;
}
.kh-righttt button:hover{
background: #502ad5;
color: white;
}
.kh-righttt span{
    padding: 8px 15px;
    border: 1px solid white;
    border-radius: 10px;
